<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.ziv.jobinterview"
          xmlns:android="http://schemas.android.com/apk/res/android"
    >

    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".eventbus.BusTerminalStationActivity">
        </activity>
        <activity
            android:name=".eventbus.BusStartingStationActivity"
            android:label="@string/title_activity_starting_station"
            android:theme="@style/AppTheme.NoActionBar"
            >
        </activity>
        <activity android:name=".ui.AddViewActivity">
        </activity>
        <activity android:name=".ui.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".clipboard.ClipboardActivity">
        </activity>
        <activity android:name=".clipboard.GetMsgFromClipboardActivity">
        </activity>
        <!-- 接收短信的广播 -->
        <receiver android:name=".broadcastreceiver.ShortMessageReceiver" android:enabled="true">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>
        <!--注册接收来电广播-->
        <receiver android:name=".broadcastreceiver.InCallReceiver" android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>